*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(rgb(27, 128, 243),rgb(192, 22, 189));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.button{
    margin-left: 185 px;
    height: 35px;
    width: 150px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.text{
    height: 300px;
    width: 550px;
    border-color: rgb(18, 1, 1);
    border-radius: 10px;
    border-width: 3px;
    resize: none;
    ;
}
.select{
    height: 30px;
    background: rgba(0, 255, 30, 0.823);
    border-radius: 20px;
    width: auto;
    height: 50px;
    
}
.title1{
    -webkit-text-fill-color: rgb(239, 205, 12);
}
.title{
    -webkit-text-fill-color:rgba(236, 235, 240, 0.761) ;
}
select:hover{
    background-color: rgb(133, 240, 180);
}
button:hover{
    background-color: rgb(255, 0, 0);
}